<div class="container">
  <div class="jumbotron">
    <h1><%= @fact ? @fact.text : 'No Facts' %> - FACT</h1>
    <p><a class="btn btn-lg btn-success" href="/" role="button">Hit me with another Sefton Fact</a></p>
  </div>
</div>
